@media(min-width:768px) {
    .holder {
        display: flex;
        align-items: center;
        text-align: center;

    }


    .addproduct {
        width: 60%;
        height: 30%;
        padding: 40px;
        margin: 10px;
        border-radius: 8px;
        align-items: center;
        text-align: center;
    }

    .sidbar {
        margin: auto;
        width: 35%;
        border: 1px rebeccapurple solid;
        border-radius: 8px;
        padding: 10px;
        text-align: center;
    }
}

.prod {
    border-radius: 5px;
    margin: 3px;
    border-radius: 5px;
    transition-duration: 1000ms;
    padding: 20px;
    text-align: center;
    background-color: #343434;
}

.prod:hover {
    background-color: #666362;
    padding: 10px;
}

.menuWrap {

    transition-delay: 1s;
    margin-left: 35px;
    margin-right: 35px;


}

.menuWrap a {
    font-weight: 'bold';
    font-size: 14px;
    transition-duration: 1000ms;


}

.menuWrap a:hover {

    background-color: #198754;
    border-radius: 5px;

}

.holder div {

    padding: 10px;
}

.prod img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.prod button {
    /* background: transparent; */
    background-color: #32cd32;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 120px;
    height: 50px;
}

.prod button:hover {
    background-color: #198754;

}

.prod span {
    font-size: 20px;
    font-weight: 100px;
    color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.prod h4 {
    color: #fff;
}

.brand {
    padding: 20px;
    margin-bottom: 10px;
}

.submail {
    margin-bottom: 10px;
}

.submail input {
    width: 50%;
    height: 45px;
    border-radius: 5px;
    border-color: #ced4da;
    padding: 10px;
    margin-right: 10px;
}


.viewProd {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.imgholderViewProds{
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
    height: 40%; 
}

.imgholderViewProds img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.imgholder {
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
    height: 30%;

}

.imgholderSmallDevice{
    
    margin-bottom: 25px;
    display: none;
    padding: 10px;
}

.imgholderSmallDevice img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.imgholderVariation{
    margin: auto;
    margin-bottom: 25px;
    width: 40%;
    height: 40%;

}



.imgholder img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.viewProd button {
    border: none;
    width: 30%;
    height: 40px;
    font-size: 25px;
    font-weight: 400px;
    color: #fff;
    background-color: orange;
    border-radius: 8px;
    margin-bottom: 10px;
}

.viewProdSmallImg{
    margin-bottom: 10px;
    border-radius: 20px;
}

.smallDeviceFrame{
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100%; 
    height: 350px;
    padding: 10px;
}

.viewProdDetails {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.viewProdDetails h1 {
    color: #fff;
    font-size: 30px;
}

.prodDesc {
    color: #6c757d;
    font-size: 20px;
    font-weight: 400px;
    margin-bottom: 10px;
    width: 60%;
    margin: auto;
}

.viewProdDetails span {
    color: orange;
    font-size: 20px;
    font-weight: 300px;

}

.viewProdDetails select {
    width: 60%;
    height: 40px;
    background-color: #198754;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.indec {
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: orange;
}

.addtocart {
    border: none;
    width: 60%;
    height: 40px;
    font-size: 15px;
    font-weight: 400px;
    color: #fff;
    background-color: #198754;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-top: 10px;
}



.list {
    list-style: none;
    margin: 20px;
    font-size: 25px;
    font-weight: 400px;

}

.anchor {
    text-decoration: none;
    color: #6c757d;
}

.formerror {
    color: red;
    font-size: 20px;
    font-weight: 400px;
}

.editproduct {
    padding: 20px;
    height: auto;
    margin: 10px;
    border: slateblue 1px solid;
    border-radius: 5px;
}

.editimage {
    width: 100%;
    height: auto;
}

.editimage img {
    width: 100%;
    height: 100%;
}

.editprodinfo {
    padding: 10px;
    margin: 6px;
    text-align: center;

}

.editprodinfo span {
    font-size: 20px;
    font-weight: 100px;
    color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.editprodinfo button {
    border: none;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 400px;
    color: #fff;
    background-color: rgb(235, 207, 156);
    border-radius: 8px;
    margin-bottom: 10px;
}

.cartdisplay {
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.cartImage {
    text-align: center;
    width: 100%;
    height: auto;

}

.cartImage img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.cartinfo {
    padding: 10px;

}

/* .darkcolor {
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600px;
    color: black;
} */

.greencolor {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600px;
    color: #198754;
}

.sharpButton {
    color: orange;
    font-size: 14px;
    background-color: transparent;
    height: 40px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

.cartTotal {
    width: 80%;
    padding: 10px;
    text-align: right;
}

.cartdisplaynobg {
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;

}

.cartButton {
    background-color: transparent;
    border: green 3px solid;
    color: #6c757d;
    font-size: 10px;
    border-radius: 8px;

}

.signup {
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    margin-top: 20px;
}

.signupotp {
    border: none;
    width: 100px;
    height: 35px;
    color: #dee2e6;
    background-color: orange;
    border-radius: 8px;
    margin-bottom: 10px;
}

.forminput {
    border-bottom-width: 2px;
    border-bottom: 1px solid #141414;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    background-color: transparent;
    height: 30px;
    margin-bottom: 10px;

}

.forminput:focus {
    outline: none;
}

.signupnext {
    border: none;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #198754;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signupText {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.signuplog {
    border: none;
    width: 100%;
    height: 40px;
    color: #6c757d;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signupp {
    font-size: 20px;
    font-weight: 400px;
    color: #6c757d;
    text-align: center;
    margin-bottom: 20px;
}

.aligrightend {

    padding: 20px;
    float: left;
    margin: 3px;
    align-content: space-between;
}

.aligleftend {
    font-size: 25px;
    padding: 5px;
    float: right;
    margin-left: 6px;
}

.userdetails {
    border: #6c757d 1px solid;
    border-top: none;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;

}

.userdetails input {
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    width: 70%;
    margin: 10px;
}

.sup {
    font-size: '15px';
}

.order {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin: auto;

}

.payment {
    margin: auto;
    padding: 10px;
    height: auto;
    background-color: #f5f5f5;
}

.paymentimageholder {
    width: 100%;
    height: 20%;
}

.payment img {
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.printmsg {
    bottom: 1px gray solid;
}

.homeBg {
    background-color: #000000;
    padding: 20;

}

.leftBoldHome {
    margin: auto;
    padding: 50px;
}

.boldHomeText {
    color: #fff;
    font-weight: 700;
    font-size: 50px;

}

.bottomHomeText {
    margin-top: 20px;
    font-weight: 600;
    color: #6c757d;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}


.homeButton {
    background-color: #198754;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    font-weight: 600;
    border: none;
    margin-bottom: 10px;
}

.homeButton2 {
    background-color: #141414;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    font-weight: 600;
    margin-left: 10px;
    color: #fff;
    border-color: #6c757d;
}

.homeImageHolder {
    height: 100%;
    width: 100%;

}

.homeImage {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}

.popular {
    background-color: #dee2e6;
    padding: 20px;
}

.experiment {
    color: #141414;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.chooseText {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #6a6a6a;
    font-size: 14px;
}

.footer {
    padding: 30px;
}

.links {
    padding: 10;
}



.links ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #6a6a6a;
    margin-bottom: 20px;
    font-weight: 400;
}

.contact {
    text-decoration: none;
    font-size: 14px;
    color: #6a6a6a;
    margin-bottom: 20px;
    font-weight: 400;
}

.benefits {
    text-decoration: none;
    font-size: 14px;
    color: #6a6a6a;
    margin-bottom: 20px;
    font-weight: 400;
}

.sliderImage {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.sliderImageHolder {
    width: 100%;
    height: 20rem;
    margin: auto;

}

.socialMedia {
    margin-top: 20px;
    width: 150px;
}

.totalcart {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
}

.cartSubtotalText {
    font-size: 14px;
    display: block;
    text-align: left;
}

.cardList {
    width: 50px;
    height: 30px;
    margin-right: 10px;
}

.userdetailsSearch {
    background-color: #198754;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    font-weight: 500;
    border: none;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 10px;
    color: #fff;

}

.paymentTitle {
    float: left;
    text-align: left;
    font-size: 12px;
}

.paymentValue {
    float: right;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
}

.success {
    margin: auto;
    text-align: center;
}

.paymentButtonHack {
    background-color: none;
    border: none;
    padding: 0px;
    margin-top: 10px;
}

.image-holder {
    width: 100%;
    height: 280px;
}

.contactsection {
    background-color: #dee2e6;
    border-radius: 10px;
    padding: 20px;
}

.stock{
    width: 80px;
    height: 20px;
    position: absolute;
    background-color: #f3ead3;
    font-size: 12px;
    padding: 2px;
    margin:5px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 






@media print {
    body * {
        visibility: hidden
    }

    .printArea,
    .printArea * {
        visibility: visible
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .sliderImageHolder {
        display: none;
    }
    .imgholderSmallDevice{
        display: inline;
    }
    .imgholderVariation{
        display: none;
    }
    .imgholderViewProds{
        display: none;
    }

    .image-holder{
        display: none;
    }

}